@font-face {
  src: url(./Inter/static/Inter-Regular.woff) format("woff");
  src: url(./Inter/static/Inter-Regular.woff2)format("woff2");
  src: url(./Inter/static/Inter-Regular.ttf) format('truetype');
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url(./Inter/static/Inter-Black.woff) format("woff");
  src: url(./Inter/static/Inter-Black.woff2) format("woff2");
  src: url(./Inter/static/Inter-Black.ttf) format('truetype');
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
}
@font-face {
  src: url(./Inter/static/Inter-Bold.woff) format("woff");
  src: url(./Inter/static/Inter-Bold.woff2) format("woff2");
  src: url(../fonts/Inter/static/Inter-Bold.ttf) format('truetype');
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
}
